Repository TheJolman/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: alejandra
      name: Format Nix files with alejandra
      entry: alejandra
      language: system
      files: \.nix$

    - id: stylua
      name: Format Lua files with stylua
      entry: stylua
      language: system
      files: \.lua$

migrate hyprland config to lua
  modules/home/hyprland/config.lua
  modules/home/hyprland/default.nix
Due: alejandra, stylua

fix laptop not waking on open
  modules/home/hyprland/default.nix
Due: alejandra

rm nixvim following nixpgs inputs
  flake.nix
Due: alejandra

write hyprland config in lua
  modules/home/hyprland/config.lua
  modules/home/hyprland/default.nix
Due: alejandra, stylua

restore original mouse accel functionality
  modules/home/hyprland/config.lua
  modules/home/hyprland/default.nix
Due: alejandra, stylua

rm old startup script
  modules/home/hyprland/default.nix
Due: alejandra

rm old config
  modules/home/hyprland/default.nix
Due: alejandra

more lua config
  modules/home/hyprland/config.lua
Due: stylua

use hyprland lua config
  modules/home/hyprland/default.nix
Due: alejandra

comment out depreciated options
  modules/home/hyprland/default.nix
Due: alejandra

catppuccin 26.05
  flake.lock
  flake.nix
  modules/home/catppuccin.nix
  modules/nixos/common.nix
Due: alejandra

fix config config issue
  modules/home/nixvim/plugins/luasnip/default.nix
Due: alejandra

nix flake update
  flake.lock
Due: none

swap stable overlay for unstable overlay
  flake.lock
  flake.nix
  modules/home/packages.nix
Due: alejandra

enable mouse accel
  modules/home/hyprland/config.lua
Due: stylua

migrate to nixos 26.05 & hyprland 0.55 (lua) (#17)
  .luarc.json
  flake.lock
  flake.nix
  modules/home/hyprland/config.lua
  modules/home/hyprland/default.nix
  modules/home/nixvim/plugins/luasnip/default.nix
  modules/home/packages.nix
Due: alejandra, stylua

add missing window binds
  modules/home/hyprland/config.lua
Due: stylua

change border size
  modules/home/hyprland/config.lua
Due: stylua

add mozillavpn
  modules/nixos/default.nix
Due: alejandra

add fullscreen window rule
  modules/home/hyprland/config.lua
Due: stylua

add comment
  modules/home/hyprland/config.lua
Due: stylua

add exfat formatting support
  modules/nixos/common.nix
Due: alejandra

add super+[n|p]
  modules/home/hyprland/config.lua
Due: stylua

window management and hibernate binds
  modules/home/hyprland/config.lua
Due: stylua

adjust kitty keybinds
  modules/home/kitty.nix
Due: alejandra

change hibernate bind
  modules/home/hyprland/config.lua
Due: stylua

add gnome network displays
  modules/home/packages.nix
Due: alejandra

make gparted a system package
  modules/home/packages.nix
  modules/nixos/common.nix
Due: alejandra

switch to systemd boot
  modules/nixos/boot.nix
Due: alejandra

add efibootmgr to system packages
  modules/nixos/common.nix
Due: alejandra

add a few missing packages for nvim
  modules/home/nixvim/plugins/snacks.nix
  modules/home/nixvim/plugins/treesitter.nix
Due: alejandra

ubuntu bootloader
  modules/nixos/boot.nix
Due: alejandra

remove discord native app
  modules/home/packages.nix
Due: alejandra

add a few packages
  modules/home/packages.nix
Due: alejandra

rm unused modules
  modules/home/hyprland/ashell.nix
  modules/home/hyprland/default.nix
  modules/home/hyprland/hyprpanel.nix
Due: alejandra

app binds
  modules/home/hyprland/config.lua
Due: stylua

add screenshot binds
  modules/home/hyprland/config.lua
Due: stylua

update hyprctl timers
  modules/home/hyprland/default.nix
Due: alejandra

better mail opener
  modules/home/hyprland/config.lua
Due: stylua

kitty session binds
  modules/home/kitty.nix
Due: alejandra
