Repository TheJolman/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

alejandra:
  name: Format Nix files with alejandra
  entry: alejandra
  language: system

stylua:
  name: Format Lua files with stylua
  entry: stylua
  language: system

switch to foot+zellij
  modules/home/catppuccin.nix
  modules/home/default.nix
  modules/home/foot.nix
  modules/home/hyprland/config.lua
  modules/home/kitty.nix
  modules/home/packages.nix
  modules/home/zellij.nix
Due: alejandra, stylua

more zellij
  modules/home/catppuccin.nix
  modules/home/default.nix
  modules/home/foot.nix
  modules/home/zellij.nix
  modules/home/zellij/config.kdl
  modules/home/zellij/default.nix
Due: alejandra

change theme to dracula
  modules/home/foot.nix
  modules/home/zellij/config.kdl
Due: alejandra

add md-pdf globally
  flake.lock
  flake.nix
  modules/home/packages.nix
Due: alejandra

fix zellij copy
  modules/home/zellij/config.kdl
Due: none

restore emoji functionality
  modules/home/hyprland/config.lua
Due: stylua

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
